$font-stack: "Roboto", sans-serif;
$secondary-font-stack: "Roboto Bold", sans-serif;
$tretiaty-font-stack: "Open Sans", sans-serif;

$max-width: 1280px;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(132, 132, 132);
$alabaster: rgb(247, 247, 247);
$alto: rgb(224, 224, 224);

$border-color: $alto;

$primary-text-color: $black;
$secondary-text-color: $gray;
$tretiary-text-color: $white;

$primary-color: $alabaster;
$secondary-color: $white;